# Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:
- Python,
- C++,
- Java.

## Objectives:
- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- Demonstrate basic arithmetic operations in Python.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
- Numpy 
- Pandas
- Matplotlib.

| Data Science Tools   |
|----------------------|
| Jupyter Notebook     |
| RStudio              |
| VSCode               |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This is a simple arithmetic expression to multiply then add integershe results.
result= (3*4)+5;
result

17

In [9]:
 #This will convert 200 minutes to hours by diving by 60
Minutes=200;
Hours=Minutes/60;
Hours

3.3333333333333335

## Author
Juan Pérez Jiménez